<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Friends: Porfile Page</title>
    <style media="screen">
      main{
        width: 800px;
        margin: 0 auto;
      }
      span{
        float: right;
        margin-right: 50px;
      }
      h3{
        margin-left: 50px;
      }
    </style>
  </head>
  <body>
    <span>
      <a href="/friends">Home</a>
      <a href="/logout">Logout</a>
    </span>
    <h1>{{user.alias}}'s Profile</h1>
    <h3>Name: {{user.name}}</h3>
    <h3>Email Address: {{user.email}}</h3>
  </body>
</html>
